
body {
    padding-top: 50px;
}

form {
    display: block;
}

ul {
    padding-left: 0; 
    list-style-type: none;
}



@media (min-height:599px) {

#weather-details {
    padding: 40px 15px;
    text-align: center;
}

#weather-selector {
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -130px;
    width: 260px;
    padding: 40px;
    background-color: rgba(249,249,249, .6);
    text-align: left;
}

#weather-selector input {
    margin-bottom: 10px;
    font-size: 13px;
    padding: 2px;
    text-align: left;
    width: 180px;
}

#weather-selector ul {
    font-size: 30px;
    font-weight: 800;
}

#weather-selector li {
    padding: 10px 0 10px 0;
}

#day-in-forecast p {
    display: inline;
    font-weight: 900;
}

}

@media (max-height:600px) {

#weather-details {
    padding: 40px 15px;
    text-align: center;
}

#weather-selector {
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -130px;
    width: 260px;
    padding: 10px 40px 0px 40px;
    background-color: rgba(249,249,249, .6);
    text-align: left;
}

#weather-selector input {
    margin-bottom: 10px;
    font-size: 13px;
    padding: 2px;
    text-align: left;
    width: 180px;
}

#weather-selector ul {
    font-size: 20px;
    font-weight: 600;
}

#weather-selector li {
    padding: 0 0 0 0;
}

#weather-details {
    padding: 0px;
}

#weather-details h3 {
    margin: 10px;
    font-size: 20px;
}

#weather-details h1 {
    margin: 10px;
    font-size: 30px;
}

#day-in-forecast span {
    display: inline;
    font-size: 12px;
}

}

